alembic
aniso8601
blinker
click
colorama
Faker
Flask
Flask-Cors
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2-binary
PyJWT
python-dateutil
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
flask-mail
flasgger
