.q-wrap {
  background-color: transparent;
  background-image: linear-gradient(30deg, rgba(255, 255, 255, 0.6), rgb(254,239,232)), url('../assets/coins-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}