main {
  height: 100vh;
}

.row {
  text-align: center;
  height: 88vh;
  background-color: rgb(255, 239, 239);
}

.col-sm-5 img {
  width: 90%;
  padding-bottom: 20px;
  height: 80%;
}

.col-sm-3 {
  background-color: #fdfdfd;
  padding: 0;
  max-height: 100%;
  overflow-y: auto;
}

.questionsbtn {
  display: block;
  background-color: #4a3521;
  color: #ffb772cc;
  border: 1px solid #0c0c0c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
}
.questionsbtn:hover {
  background-color: #ffb772cc; /* Green */
  color: #4a3521;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.submit-btn {
  background-color: #ffb772cc;
  padding: 5px 10px;
  color: #4a3521;
}
.submit-btn:hover {
  background-color: #4a3521;
  color: #ffb772cc;
}

.col-sm-6 {
  padding: 10px;
}

.col-sm-9 {
  text-align: left;
}

.col-sm-9 button {
  padding: 5px;
  min-width: 20%;
  margin: 20px;
  margin-left: 45%;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-div input {
  margin-right: 10px;
  width: auto;
  font-size: 14px;
}

.radio-label {
  display: inline;
  font-weight: 400 ;
  margin-bottom: 0px;
}


li {
  list-style-type: none;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
  
.popup-inner {
background-color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
width: 40%;
}

.popup-inner h2 {
margin-top: 0;
}

.popup-inner label {
display: block;
margin-bottom: 10px;
}

.popup-inner input {
width: 100%;
padding: 5px;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 10px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-right: 10px;
cursor: pointer;
border-radius: 5px;
}

.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
background-color: #45a049;
}

.popup-inner button[type="submit"] {
margin-top: 20px;
}

.popup-inner button[type="button"] {
margin-top: 20px;
background-color: #f44336;
}

.popup-inner button[type="button"]:hover {
background-color: #da190b;
}

.popup-inner button[type="submit"]:disabled {
background-color: #bfbfbf;
color: #ffffff;
cursor: not-allowed;
}

.popup-inner button[type="button"]:disabled {
background-color: #bfbfbf;
color: #ffffff;
cursor: not-allowed;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(254,239,232);
  height: 7rem;
  font-weight: bold;
  font-size: clamp(0.7em, 3vw, 0.9em) !important;
}

.nav-link {
  color: #000000;
  text-wrap: nowrap;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: orange;
}

.active {
  background-color: peachpuff;
}

.box {
  background-color: #bdd3f5;
  background-image: url('https://www.smifslimited.com/wp-content/uploads/2022/09/gold_mbe_animation_fix-1.gif');
  background-size: cover;
  padding-left: 5%;
}

@media only screen and (max-width: 600px) {
  .row img {
    height: 300px;
  }

  .row {
    max-height: 100%;
    overflow-y: scroll;
  }
}





.card__indicator {
  /* margin-top: 50px; */
  font-weight: 500;
  font-size: 14px;
  /* color: yellow;  */
}

.card__progress progress {
  /* width: 100%; */
  /* height: 4px; */
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-value {
  background-color: black;
  border-radius: 100px;
}